# Кодировка UTF-8
AddDefaultCharset UTF-8
AddType "text/html; charset=utf-8" .html

# Отключить кеш для HTML
<FilesMatch "\.html$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
    Header set Content-Type "text/html; charset=utf-8"
</FilesMatch>

RewriteEngine On

# 301 redirect www -> non-www
RewriteCond %{HTTP_HOST} ^www\.alkonorm\.ru$ [NC]
RewriteRule ^(.*)$ https://alkonorm.ru/$1 [R=301,L]

# 301 redirect /index.html -> directory (убрать дубли)
# Redirect 301 /index.html https://alkonorm.ru/
RewriteRule ^(.+)/index\.html$ https://alkonorm.ru/$1/ [R=301,L]

# 301 redirects: .html -> canonical directory versions
Redirect 301 /articles/kak-menshe-pit.html https://alkonorm.ru/articles/kak-menshe-pit/
Redirect 301 /articles/kak-menshe-pit/alkogol-v-prazdniki.html https://alkonorm.ru/articles/kak-menshe-pit/alkogol-v-prazdniki/
Redirect 301 /articles/kak-menshe-pit/kak-menshe-pit.html https://alkonorm.ru/articles/kak-menshe-pit/kak-menshe-pit/
Redirect 301 /articles/kak-menshe-pit/kak-ne-napitsya.html https://alkonorm.ru/articles/kak-menshe-pit/kak-ne-napitsya/
Redirect 301 /articles/pochemu-hochetsya-pit.html https://alkonorm.ru/articles/pochemu-hochetsya-alkogolya/pochemu-hochetsya-pit.html
Redirect 301 /articles/alkogol-v-kompanii.html https://alkonorm.ru/articles/kak-menshe-pit/alkogol-v-kompanii.html
Redirect 301 /articles/skolko-mozno-pit.html https://alkonorm.ru/articles/skolko-mozhno-pit/
Redirect 301 /articles/uznaki-alkogolizma https://alkonorm.ru/articles/priznanki-alkogolizma
Redirect 301 /articles/pochemu-hochetsya-alkogolya/pochemu-hochetsya-piva https://alkonorm.ru/articles/pochemu-hochetsya-alkogolya/pochemu-hochetsya-piva-vecherom
